
<html>

<body>
		<header>
			<h1>PAGE FORMULAIRE</h1>
		</header>
<secion>	        
	  <form action = "new" method="POST" >
            	<input type="hidden" name="authenticity_token" 
            	value="<%= form_authenticity_token %>">
            	<p>Username:</p>
            	<input type="text" name="username">
            	 <p>Email:</p>
            	<input type="text" name="email">
            	<p>Bio:</p>
            	<input type="text" name="bio">
            	<input type="submit" name="Envoyer">	
            </form>
</section>

</body>
</html>