<html>

<body>
		<header>
			<h1>Bienvenu sur le formulaire</h1>
		</header>
<secion>	        
pour faire la <a href="/create/">méthode 1 (formulaire HTLM)</a>

pour faire la <a href="/tag/">méthode 2 (form_tag)</a>

pour faire la <a href="/for/">méthode 3 (form_for)</a>

</section>

</body>
</html>

